*{
    margin: 0;
    padding: 0;
    font-family: century 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../image/bg.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
ul{
    float: right;
    list-style-type: none;
    margin-top: 25px;
}
ul li{
    display: inline-block;
    margin: 2px;
}
ul li a{
    text-decoration: none;
    color: #fff;
    padding: 10px 12px;
    border: 1px solid transparent;
    transition: 0.3s ease;
    font-family: sans-serif;

}
ul li :hover{
    /* background-color: white; */
    color: #ac3aee;
    font-size: 17px;
}
/* ul li.active a{
    background-color: white;
    color: black;
} */


/* .logo img{
    float: left;
    height: auto;
    width: 60px;
    margin: 7px ;
    border-radius: 100px; */
/* } */
.main{
    max-width: 1200px;
    margin: auto;
}
.title{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: sans-serif;

}
.title h1 {
    color: white;
    font-size: 45px;
    text-align: center;
}
.title h2 {
    color: white;
    font-size: 16px;
    text-align: center;
}
.button
{ position: absolute;
    top: 60%;
    left: 50%;
    border-radius: 8px;
    transform: translate(-50%,-50%);
    
}
.btn{
    border: 1px solid white;
    padding: 10px 30px;
    color: white;
    text-decoration: none;
    transition:0.3 ease;
    font-family: sans-serif;
    border-radius: 20px;
    /* text-align: center; */
}

.btn:hover{
    background-color: #ac3aee;
    color:white;
   
}

