<!DOCTYPE html>
<html>

<head>
    <title>e-CredCalci</title>
    <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='css/aboutus.css' )}}>
</head>

<body>
    <header>

        <div class="main">
            <div class="logo">
                <!-- <img src="image/image.jpg" alt=""> -->
            </div>
            <ul>
                <li><a href="/"> Dashboard </a></li>
                <li><a href="/aboutus"> About </a></li>
            </ul>
        </div>
        <div class="title">
            <h1>e-CredCalci</h1>
            <h2>Team Members:</h2>
            <h2>Amisha - 9919103125</h2>
            <h2>Bhavy - 9919103153</h2>
            <h2>Rahul Malik - 9919103126</h2>

        </div>
        <div class="button">
            <a href="https://github.com/AmiShaaaa/e-CredCalci" class="btn">Github Link</a>
        </div>
    </header>
</body>

</html>