<!DOCTYPE html>
<html>
<head>
    <title>e-CredCalci</title>
    <link rel="stylesheet"type="text/css" href={{ url_for('static', filename='css/dashboard.css' )}}>
</head>
<body>
    <header>

        <div class="main">
            <div class="logo">
                <!-- <img src="image/image.jpg" alt=""> -->
            </div>
            <ul>
                <!-- <li><a href="dashboard.html"> Dashboard </a></li> -->
                <li><a href="/aboutus"> About </a></li>
            </ul>
        </div>
        <div class="title">
            <h1>e-CredCalci</h1>
            <h2>Credit scoring is a statistical analysis performed by lenders and financial institutions to determine the creditworthiness of a person or a small, owner-operated business. Credit scoring is used by lenders to help decide whether to extend or deny credit.</h2> 
        </div>
        <div class="button">
            <a href="/login"class="btn">Login</a>
        </div>
    </header>
</body>
</html>
